pydantic==2.9.0
pytest==8.4.1
pytest-cov==5.0.0
pytest-xdist==3.3.1
numpy==2.0.1
torch==2.5.1
networkx==3.4.1
torch-geometric==2.6.0
pyyaml==6.0.1
streamlit==1.39.0
pandas
altair
blinker
cachetools
click
packaging
pillow
protobuf
pyarrow
requests
tenacity
toml
gitpython
pydeck
tornado
jinja2
jsonschema
narwhals
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv 